.home{
    display: flex;
    min-height: calc(100vh - 128px);
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.home .informacoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 1rem;
    max-width: 50%;
}

.home .informacoes h1{
    font-family: 'Courier New', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}

.home .informacoes p{
    font-family: 'Courier New', sans-serif;
    font-size: 1.3rem;
    margin-bottom: .8rem;
}

.home .redes-sociais{
    display: flex;
    gap: 1.2rem;
}

.home .redes-sociais a i{
    border: 1px solid var(--branco);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    padding: .8rem;
    text-align: center;
    font-size: 1.7rem;
    transition: .3s;
}

.home .redes-sociais a i:hover{
    color: var(--roxo-claro);
    border: 1px solid var(--roxo-claro);
    transform: scale(1.1);
}

.home .pdf_download a i{
   width: 10rem;
   height: 3.5rem;
   font-size: .8rem;
   border-radius: 8px;
   padding: 1.2rem 0;
   justify-content: center;
}

.home .container__foto .foto{
    max-width: 28.2rem;
    border-radius: 50%;
}

.home .container__foto img{
    width: 100%;
}

.home .foto.sombra-interna{
    background: linear-gradient(to right, var(--linear-gradient-roxo), var(--linear-gradient-verde-escuro), var(--linear-gradient-verde-claro));
    background-size: 180% 180%;
    animation: gradient-animation 4s ease infinite;
}