html{
    color: var(--branco);
    scroll-behavior: smooth;
}

body{
    font-family: "Ubuntu", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, var(--preto), var(--roxo-body));
    background-size: 120% 120%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.cabecalho .logo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid var(--branco);
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    transition: 0.2s;
}

.cabecalho a:hover .logo{
    color: var(--roxo-claro);
    border: 2px solid var(--roxo-claro);
}

.cabecalho .menu ul{
    display: flex;
    gap: 1.2rem;
}

.cabecalho .menu li a {
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: .9rem 1.2rem;
    transition: 0.2s;
}

.cabecalho .menu li a:hover{
    background-color: var(--roxo-claro);
    color: var(--branco);
    border-radius: 50px;
}


.home{
    display: flex;
    min-height: calc(100vh - 128px);
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.home .informacoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 1rem;
    max-width: 50%;
}

.home .informacoes h1{
    font-family: 'Courier New', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}

.home .informacoes p{
    font-family: 'Courier New', sans-serif;
    font-size: 1.3rem;
    margin-bottom: .8rem;
}

.home .redes-sociais{
    display: flex;
    gap: 1.2rem;
}

.home .redes-sociais a i{
    border: 1px solid var(--branco);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    padding: .8rem;
    text-align: center;
    font-size: 1.7rem;
    transition: .3s;
}

.home .redes-sociais a i:hover{
    color: var(--roxo-claro);
    border: 1px solid var(--roxo-claro);
    transform: scale(1.1);
}

.home .container__foto .foto{
    max-width: 28.2rem;
    border-radius: 50%;
}

.home .container__foto img{
    width: 100%;
}

.home .foto.sombra-interna{
    background: linear-gradient(to right, var(--linear-gradient-roxo), var(--linear-gradient-verde-escuro), var(--linear-gradient-verde-claro));
    background-size: 180% 180%;
    animation: gradient-animation 4s ease infinite;
}

.info-sobre{
    display: flex;
    padding: 4.4rem 0 4.4rem;;
    width: 100%;
    min-height: 80vh;
}

.info-sobre .container__info-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.info-sobre .container__info-sobre .skills,
.hobbies{
    width: 100%;
}

.skills .skills__titulo{
    font-size: 2.2rem;
    text-align: center;
}

.skills .skills__tecnologias{
    display: flex;
    padding: 2rem 0;
    gap: 1.5rem;
    justify-content: center;
}

.skills .skills__tecnologias li{
    font-size: 3rem;
    gap: .9rem;
    padding: 1rem;
    cursor: pointer;
}

.skills__tecnologias .fa-html5 {
    color: var(--html5);
}

.skills__tecnologias .fa-css3-alt{
    color: var(--css);
}

.skills__tecnologias .fa-js{
    color: var(--js);
}

.skills .skills__tecnologias p{
    font-size: 1rem;
}

.hobbies .hobbies__titulo{
    text-align: center;
    font-size: 2rem;
}

.hobbies .hobbies__lista{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    gap: 15px;
    height: 20rem;
    align-items: center;
    justify-content: space-around;
}

.hobbies .hobbies__lista li{
    height: 8rem;
    width: 7rem;
    flex-grow: 1;
    padding: 2rem 0;
    cursor: pointer;
    background-color: var(--branco);
    color: var(--preto);
    transition: 0.3s;
}

.hobbies .hobbies__lista li:hover{
    color: var(--roxo-claro);
}

.hobbies .hobbies__lista li i{
    justify-content: center;
    display: flex;
    font-size: 1.3rem;
}

.hobbies .hobbies__lista li p{
    margin-top: .9rem;
}

.hobbies__lista .fa-headphones{
    color: var(--headphones);
} 

.hobbies__lista .fa-tv{
    color: var(--preto-fosco);
} 

.hobbies__lista .fa-gamepad{
    color: var(--gamepad);
} 

.hobbies__lista .fa-dumbbell{
    color: var(--dumbbell);
}

.hobbies__lista .fa-house{
    color: var(--house);
}

.hobbies .hobbies__lista p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
}


.formacoes__titulo{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: .9rem;
}

.formacoes .formacoes__cursos{
    display: flex;
    padding: 2rem;
    gap: 4rem;
    justify-content: center;
}

.formacoes .formacoes__cursos .formacoes__cursos__list{
    display: flex;
    flex-wrap: wrap;
}

.formacoes .container__formacoes-box{
    width: 22%;
    height: 20%;
}

.formacoes__cursos__list .formacoes__cursos__item__img{
    width: 100%;
    height: 10rem;
    background-color: var(--branco);
    border-radius: .4rem;
    padding: 1.5rem;
}

.formacoes__cursos__list .formacoes__cursos__item__titulo{
    padding: .5rem;
    color: var(--branco);
    font-weight: 400;
    font-size: 1rem;
}

.formacoes__cursos__list .formacoes__cursos__item__subtitulo{
    color: var(--branco);
    padding: 0 .5rem;
}

.formacoes__cursos__list .formacoes__cursos__item__subtitulo span{
    color: var(--accent);
}

.projetos{
    padding: 4.4rem 0 4.4rem;
}

.projetos .titulo{
    text-align: center;
    padding: 3.8rem 0;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.projetos .container__projetos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;
    justify-content: center;
}

.projetos .container__projetos .projeto{
    max-width: 16.3rem;
    max-height: 31.2rem;
    position: relative;
    display: none;
}

.projetos .projeto.ativo{
    display: block;
}

.projetos .projeto img{
    height: 100%;
}

.projetos .projeto h3{
    background-color: var(--preto-fosco);
    width: 100%;
    padding: .8rem 0 .8rem 1.2rem;
    position: absolute;
    bottom: 0;
}

.projetos .projeto .informacoes__projeto{
    background-color: var(--preto-fosco);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 1.2rem;
}

.projetos .container__projetos .projeto:hover .informacoes__projeto{
    opacity: 0.8;
    background-color: var(--preto);
}

.projetos .btn-mostrar-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 11.3rem;
    padding: 1.3rem;
    background: none;
    border: 1px solid var(--branco);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--branco);
    cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover{
    background-color: var(--roxo-claro);
    transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover{
    display: none;
}

@keyframes gradient-animation{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}




